[Unit]
Description=ghostdb
ConditionPathExists=/bin/ghostdb
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
RestartPreventExitStatus=0
TimeoutStopSec=10
ExecStart=/bin/ghostdb
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ghostdb

[Install]
WantedBy=multi-user.target